.card {
  padding: 1rem;

  color: inherit;
  background-color: inherit;

  border: none;
  border-radius: 1.3rem;
  box-shadow: 1px 2px 8px lightgrey;
}

.card:hover {
  cursor: pointer;
}

.card__photo {
  border-radius: 1.3rem;
}
