.card {
  padding: 1rem;

  border-radius: 1.3rem;
  box-shadow: 1px 2px 8px lightgrey;
}

.card__photo {
  border-radius: 1.3rem;
}

.card__description {
  margin-top: 0.5rem;

  font-weight: 300;
  font-style: italic;
  text-align: center;
}
