.switch {
  display: flex;
  padding: var(--header-offset-padding);
  margin-left: calc(var(--header-offset-padding) * -1);

  border-radius: 50%;

  transition: background-color var(--duration-medium) var(--standard-easing);
}

[data-theme] .switch:hover {
  transition: background-color var(--duration-medium) var(--standard-easing);
}

[data-theme="light"] .switch:hover {
  background-color: var(--light-hover);
}

[data-theme="dark"] .switch:hover {
  background-color: var(--dark-hover);
}

[data-theme="light"] .switch:active {
  background-color: var(--light-pressed);
}

[data-theme="dark"] .switch:active {
  background-color: var(--dark-pressed);
}

[data-theme="light"] {
  --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color);
}

[data-theme="dark"] {
  --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color);
}
