.header {
  padding: var(--main-container-padding);
  margin: var(--mobile-gap) 0;
  height: 3rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  width: 3.5rem;
}

.header__icon-button {
  padding: 0;

  border-radius: 50%;
}

/* Tablet – 600px */
@media (min-width: 37.5em) {
  .header {
    margin: var(--tablet-gap) 0;
  }
}

/* Desktop – 1024px */
@media (min-width: 64em) {
  .header {
    margin: var(--desktop-gap) 0;
  }
}
