/*
<BrandSVG> and <ThemeSwitch>'s padding breaks 
<Header> layout spacing, but is a necessity to
provide a large enough hover circle. As much padding
as it adds, will be taken away from its margin in the
respective direction where the layout spacing breaks
(`margin-right` for <BrandSVG> on the left-most side; 
`margin-left` for <ThemeSwitch> on the right-most side)
to ensure the layout spacing is flush again.
*/
:root {
  --header-offset-padding: 0.5rem;
}

.header {
  padding: var(--main-container-padding);
  margin: 2rem 0;
  height: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  width: 3.5rem;
  height: 100%;
  padding: var(--header-offset-padding);
  margin-right: calc(var(--header-offset-padding) * -1);

  border-radius: 50%;
  outline-offset: -10px;

  transition: background-color var(--duration-medium) var(--standard-easing);
}

.header__icon:hover {
  transition: background-color var(--duration-medium) var(--standard-easing);
}

[data-theme="light"] .header__icon:hover {
  background-color: var(--light-hover);
}

[data-theme="dark"] .header__icon:hover {
  background-color: var(--dark-hover);
}

[data-theme="light"] .header__icon:active {
  background-color: var(--light-pressed);
}

[data-theme="dark"] .header__icon:active {
  background-color: var(--dark-pressed);
}

.header__icon-button {
  display: flex;

  border-radius: 50%;
}

.header__divider {
  height: 100%;
  margin-right: calc(var(--theme-switch-padding) * -1);

  transition: border-color var(--duration-short) var(--standard-easing);
}

[data-theme] .header__divider {
  transition: border-color var(--duration-short) var(--standard-easing);
}

[data-theme="light"] .header__divider {
  border-right: 1px solid var(--light-p-300);
}

[data-theme="dark"] .header__divider {
  border-right: 1px solid var(--dark-p-800);
}
