.header {
  padding: var(--main-container-padding);
  margin: 2rem 0;
  height: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  width: 2.75rem;
  height: 100%;
}

.header__icon-button {
  display: flex;

  border-radius: 50%;
}

.header__divider {
  height: 100%;
}

[data-theme="light"] .header__divider {
  border-right: 1px solid var(--light-p-300);
}

[data-theme="dark"] .header__divider {
  border-right: 1px solid var(--dark-p-800);
}
