.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;

  background-color: #eee;
  border-radius: var(--border-radius-rounded);
}

.search__icon {
  width: 1.5rem;
}

.search__input {
  width: 90%;

  font-size: 0.9rem;
}

.search__input {
  outline: none;
}

.search__clear__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 100%;
  padding-right: 1rem;

  border-radius: 0 var(--border-radius-rounded) var(--border-radius-rounded) 0;
}

.search__clear__button__icon {
  width: 1rem;
}
