.search {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;

  background-color: #eee;
  border-radius: var(--border-radius-rounded);
}

.search__icon {
  width: 1.5rem;
}

.search__input {
  width: 100%;

  font-size: 0.9rem;
}

.search__input {
  outline: none;
}
