/* Mobile */
main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: start center;

  padding: var(--main-container-padding);
}

main .gallery {
  display: grid;
  row-gap: 1.5rem;
}

/* Tablet – 600px */
@media (min-width: 37.5em) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: start center;
    column-gap: 1.5rem;
  }

  main .gallery {
    display: grid;
    row-gap: 1.5rem;
  }
}

/* Desktop – 1024px */
@media (min-width: 64em) {
  main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: start center;
    column-gap: 1.5rem;
  }

  main .gallery {
    display: grid;
    row-gap: 1.5rem;
  }
}
