*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global variables */
:root {
  --main-text-color: black;
  --main-background-color: white;

  /* Main container */
  --main-container-padding: 0 1rem;

  /* Screen-size dependent spacing */
  --mobile-gap: 2rem;
  --tablet-gap: 1.75rem;
  --desktop-gap: 1.25rem;

  /* Misc */
  --border-radius-rounded: 1.3rem;
}

html {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove some <dialog> defaults */
dialog {
  padding: 0;
  border: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;

  color: var(--main-text-color);
  background-color: var(--main-background-color);

  font-family: sans-serif;

  /* Font anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button {
  padding: 0;

  background-color: inherit;

  border: none;
}

button:hover {
  cursor: pointer;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}
