*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global variables */
:root {
  /* Dark theme */
  --dark-text-color: #fff;
  --dark-bg-color: #121212;
  --dark-p-800: #323232;

  /* Dark theme - elevation */
  --dark-bg-color-01dp: #1d1d1d;
  --dark-bg-color-02dp: #222222;
  --dark-bg-color-03dp: #252525;
  --dark-bg-color-04dp: #262626;

  /* Dark theme – state colors */
  --dark-hover: #1b1b1b;
  --dark-pressed: #292929;

  /* Light theme */
  --light-text-color: #121212;
  --light-bg-color: #fff;
  --light-p-300: #f0f0f0;
  --light-p-400: #dedede;

  /* Light theme – state colors */
  --light-hover: #f6f6f6;
  --light-pressed: #e8e8e8;

  /* Main container */
  --main-container-padding: 0 1rem;

  /* Misc */
  --border-radius-rounded: 1.3rem;
}

html {
  font-size: clamp(1rem, 0.25rem + 1vw, 1.5rem);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove some <dialog> defaults */
dialog {
  padding: 0;
  border: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: sans-serif;

  /* Font anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button {
  padding: 0;

  color: inherit;
  background-color: inherit;

  border: none;
}

button:hover {
  cursor: pointer;
}

/*
Icon buttons need to inherit color
for their `currentColor` to take effect
*/
a,
button {
  color: inherit;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}
